footer {
    background: url('../styles/assets/Background_Contacts.png') lightgray 50% / cover no-repeat;
    
    display: flex;
    padding: 128px 120px 200px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    height: 787px;
    
}
.textFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    
}
.textFooter h2{
    font: var(--text-subtitle);
    color: var(--color-purple);
    text-align: center;
    align-self: stretch;
    
}
.textFooter h3{
    font: var(--title-md);
    color: var(--color-gray-600);
    text-align: center;
    align-self: stretch;
   
    
}
.textFooter p{
    font: var(--text-md);
    color: var(--color-gray-500);
    text-align: center;
    align-self: stretch;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.socialButton {
    display: flex;
    width: 400px;
    height: 60px; 
    padding: 20px; 
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background-color: var(--color-gray-300);
    transition: background 0.9s, border 0.9s;
}
.socialButton:hover {
    border: 1.5px solid var(--color-red);
    background: var(--color-gray-100);
    cursor: pointer;
}
 .socialButton h2{
    color: var(--color-gray-500);
    flex: 1 0 0;
    font: var(--text-md);
}
.socialButton img{
    flex-shrink: 0;
}