.intro {

    background: url('/Port/assets/background_intro.png') lightgray 50% / cover no-repeat;



    display: flex;
    padding: 120px 163px 57px 163px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 94px;
    align-self: stretch;

}

.info {
    display: flex;
    max-width: 1040px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

header {
    display: flex;
    /* max-width: 680px; */
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

#profile {
    width: 112px;
    height: 112px;
    flex-shrink: 0;

}

#profile #border img {
    width: 87.273px;
    height: 87.273px;
    border-radius: 9999px;
}


#border {
    width: 96px;
    height: 96px;
    padding: 2.5px;

    border-radius: 999px;
    border: 2px solid var(--color-red);
    margin: 4.36;


}

#iconCode {
    width: 10px;
    /* Definindo a largura do ícone */
    height: 32px;
    background-color: var(--color-gray-200);
    color: var(--color-green);
}



#textTitle {
    align-self: stretch;
    text-align: center;
    gap: 20px;
}

#textTitle h1 {
    color: var(--color-gray-600);
    font: var(--title-lg);
}

#textTitle p:first-child {
    color: var(--color-gray-500);
    font: var(--text-subtitle);

}

#textTitle p {
    color: var(--color-gray-400);
    font: var(--text-sm);

}


#textTitle span {
    color: var(--color-red);
}